<%= form_with scope: :session, url: session_path, method: :post do |form| %>
  <div class="form-field">
    <div class="clear">
        <%= form.label :email %>
    </div>

    <%= form.email_field :email_address, required: true %>
  </div>

  <div class="form-field">
    <div class="clear">
      <%= form.label :password %>
    </div>

    <%= form.password_field :password, required: true %>
  </div>

  <div class="form-field">
    <div class="clear">
      <%= form.label :password_confirmation %>
    </div>

    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <%= form.submit "Sign Up" %>
<% end %>

<link rel="stylesheet" href="../../css/global.css">