<h2 class="my-4"><%= @user.name %>'s tasks</h2>

<div class="button-container mb-4">
  <%= link_to "New List", new_user_list_path(@user), class: "btn btn-primary mr-2", data: { turbo_frame: "modal" } %>
</div>

<div class="task-board-container" style="overflow-x: auto; white-space: nowrap;">
  <div class="task-board d-flex flex-nowrap">
    <% if @lists.present? %>
      <% @lists.each do |list| %>
        <div class="task-column" 
            id="list-<%= list.id %>" 
            data-id="<%= list.id %>" 
            style="display: inline-block; float: none;" 
            ondragover="event.preventDefault();" 
            ondrop="drop(event, <%= list.id %>)">
          <div class="card border-primary d-inline-flex ml-1 mr-1">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center p-2">
              <h3 class="card-title mb-0 mr-5"><%= truncate(list.name, length: 20) %></h3>
              <div class="btn-group">
                <%= link_to "New Task", new_user_list_task_path(@user, list), class: "btn btn-light btn-sm m-0", data: { turbo_frame: "modal" } %>
                <%= link_to 'Delete', user_list_path(@user, list), method: :delete, data: { turbo_frame: "modal" }, class: "btn btn-sm btn-danger m-0" %>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="list-group mb-3">
                <% list.tasks.each do |task| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center" 
                      id="<%= dom_id(task) %>" 
                      draggable="true" 
                      data-id="<%= task.id %>" 
                      ondragstart="drag(event)">
                    <div class="task-info mr-5">
                      <p><strong>Task name: </strong><%= task.name %></p>
                      <p><strong>Priority: </strong><%= task.priority %></p>
                      <p><strong>Start date: </strong><%= task.start_date %></p>
                    </div>
                    <div class="btn-group">
                      <%= link_to 'More', user_list_task_path(@user, list, task), class: "btn btn-sm btn-outline-primary", data: { action: "modal#open", turbo_frame: "modal" } %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No lists available. Create one to get started!</p>
    <% end %>
  </div>
</div>

<script>
  function drag(event) {
    const taskId = parseInt(event.target.id.split('_')[1], 10);
    event.dataTransfer.setData("taskId", taskId); 
  }

  function drop(event, listId) {

    event.preventDefault();

    const taskId = event.dataTransfer.getData("taskId");

    const taskElement = document.getElementById(`task_${taskId}`);

    const newList = document.getElementById("list-" + listId);

    newList.querySelector("ul").appendChild(taskElement);

    updateTaskList(taskId, listId);
  }

  function updateTaskList(taskId, listId) {
    fetch(`/tasks/${taskId}/update_list`, {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        list_id: listId,
      }),
    })    
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .catch(error => {
      
    });
  }
</script>

<style>
  .list-group-item {
    border-bottom: 1px solid #ddd; /* Add a light gray border to the bottom */
  }

  .list-group-item:last-child {
    border-bottom: none; /* Remove border from the last item */
  }
</style>